{% extends "index.html" %}
{% load static %}

{% block content %}
    <h4>Perfil de {{ profile.username|capfirst }}</h4>
    <div>
        {% if profile.profile.avatar %}
            <img src="{{ profile.profile.avatar.url }}" class="imgProfileAvatarBig">
        {% else %}
            <img src={% static 'images/no-avatar.jpg' class="imgProfileAvatarBig" %}>
        {% endif %}

        <p>Usuario: {{profile.username}}</p>
        {% if profile.first_name %}
        <p>Nombre: {{profile.first_name}}</p>
        {% endif %}
        {% if profile.last_name %}
        <p>Apellido: {{profile.last_name}}</p>
        {% endif %}
        <p>Email: {{profile.email}}</p>
        {% if profile.profile.bio %}
        <p>Bio: {{profile.profile.bio}}</p>
        {% endif %}
        {% if profile.profile.link %}
        <p>website: {{profile.profile.link}}</p>
        {% endif %}
        
    </div>

    <div class="padding2">
        <a href="{% url 'chatroom-getmsgs' profile.id %}" class="link">
            <button class="button mt-3">Enviar Mensaje</button>
        </a>
        <a href="{% url 'Profiles' %}">
            <button  class="button mt-3">Volver</button>
        </a>
    </div>
    </div>

    </div>
{% endblock %}