{% extends "index.html" %}
{% load static %}

{% block content %}
    <h4>Perfil de usuario</h4>
    <div>
        {% if request.user.profile.avatar %}
        <p>{{ request.user.profile.avatar }}</p>
        {% else %}
        <img src={% static 'images/no-avatar.jpg' %}>
        {% endif %}

        <p>Usuario: {{request.user.username}}</p>
        {% if request.user.first_name %}
        <p>Nombre: {{request.user.first_name}}</p>
        {% endif %}
        {% if request.user.last_name %}
        <p>Apellido: {{request.user.last_name}}</p>
        {% endif %}
        <p>Email: {{request.user.email}}</p>
        {% if equest.user.profile.bio %}
        <p>Bio: {{request.user.profile.bio}}</p>
        {% endif %}
        {% if request.user.profile.link %}
        <p>website: {{request.user.profile.link}}</p>
        {% endif %}
        
    </div>

        <div class="button1">
            <a href="{% url 'edituser' %}"><button  class="btn41-43 btn-41">Cambiar password y datos de la cuenta</button></a>
            <a href="{% url 'editprofile' %}"><button  class="btn41-43 btn-41">Editar perfil</button></a>
        </div>
    </div>
{% endblock %}