* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body{
    background-color:whitesmoke;
}


.content{
    display: flex;
    min-height: 88vh;
    flex-direction:column;
    align-items: center;
}

.hero{
    width: 100%;
    height: 94vh;
}

.titulo{
    width: 50%;
}

h1{
    margin: auto;
}

h2{
    padding: 10px 0;
}

h3, h4{

    margin: 10px 0;
}

.form-control {
    display: flex;
    width: 100%;
}

.estudiantes{
    background-color: #8080805c;
    margin: 20px 20px;
    padding: 5px 20px;
}

.estudiantes div{

    padding: 5px 5px;
    text-align: right;
}

.errorData{

    color: red;
}

.savedData{

    color: green;
}
.estilosBox{

    background-color: rgba(128, 128, 128, 0.15);
    border: 1px solid rgba(61, 61, 61, 0.3);
    color: rgb(0, 0, 0);
    margin: 5px 0;
}

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    font-size: larger;
}

.button1{

    display: flex;
   justify-content: center;

}
.btn41-43 {
    padding: 6px 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: black;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }

.login{

    margin-left: 10px;
}

footer, .text-reset{
    color:white;
}

footer ul{
    text-decoration: none;
}

.imgFooter{
    width: 5% ;
}

.listBlogs{
width: 50%;
}

.card{
    text-align-last: center;
    height: 395px;
}

.card-title {
    text-align: center;
    min-height: 72px;
}

.imgBlog {
    max-height: 150px;
    max-width: 260px;
    margin-top: 5px;
    align-self: center;
}

.card-text {
    min-height: 72px;
    text-align: center;
}

.card-footer {
    text-align: center;
}


.postImg {
    min-width: 720px;
    min-height: 500px;
    margin: 30px;
}

.section {
    padding: 45px;
    margin: 56px;
    background: #000000b3;
}

.section p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    text-align: justify;
}

.imgBlogDetail {
    max-width: 720px;
    max-height: 500px;
}

.alert-error{

    color: red;
    font-weight: bolder;
}

.containerProfiles {
    display: flex;
}

.imgProfileChat {
    width: 20%;
    height: 20%;
    max-height: 64px;
    border-radius: 88px 90px;
    padding: 5px;
}

.userContainer {
    min-width: 350px;
    max-width: 350px;
    background-color: gainsboro;
    margin-bottom: 20px;
    border-radius: 12px 12px;
    box-shadow: 2px 1px 3px black;
}

.subcontainer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding{

    padding: 5px;
}

.messageContainerSender {
    display: flex;
    flex-direction: column;
    background: #9E9E9E;
    padding: 10px;
    margin: 10px;
    border-radius: 8px 8px 8px;
}

.messageContainerReceiver {
    display: flex;
    flex-direction: column;
    background: #e1bdbd;
    padding: 10px;
    margin: 10px;
    border-radius: 8px 8px 8px;
}

.messageSender {
    align-self: center;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.messageReceiver{
    align-self: center;
    background-color:rgb(182, 30, 30);
    color: white;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.messageMessageChat {
    max-width: 300px;
    display: flex;
    justify-content: center;
    color: cornsilk;
}

.ChatContainer {
    display: grid;
    max-height: 650px;
    overflow-y: scroll;
}


