{% extends "mensajeria/index.html" %}

{% load static %}

{% block content %}

    <div class="containerProfiles">
        <h2>Mensajería Ryu Tech - Chat con: ✉<strong> {{receiver.username|capfirst}} ✉	</strong></h2>
    </div>
    
    <div class="ChatContainer">

        {% for message in messages %}     
            {% if message.sender %}
            
                <div class="messageContainerSender">
                    <div class="messageSender">{{message.sender}}</div>
                    <div class="messageMessageChat">{{message.message}}</div>
                </div>
            {% endif %}
            {% if message.receiver %}
            <div class="messageContainerReceiver">
                <div class="messageReceiver">{{message.receiver}}</div>
                <div class="messageMessageChat">{{message.message}}</div>
            </div>
            {% endif %}
        
        {% endfor %}

    </div>

    <form action="/mensajeria/chatRoom/receive" method="POST"> 
        {% csrf_token %} 
        <input type="text" name="message" /> 
        <input type="hidden" name="receiver" value="{{ id }}" /> 
        <input type="submit" value="Send" /> 

    </form> 

{% endblock %}