{% extends "mensajeria/index.html" %}

{% load static %}

{% block content %}

    <h2>Usuarios Ryu Tech - Chat</h2>

    {% for data in usuarios %}
    
       
        <div class="containerProfiles">
            <div class="userContainer">
                <div class="subcontainer1">
                    <div class="padding">{{data.user.username}}</div>
                </div>
                <div class="subcontainer2">
                    <div class="padding">{{data.user.email}}</div>
                    
                </div>
                <div class="subcontainer3">
                    {% if data.avatar%}
                        <img src="{{data.avatar.url}}" class="imgProfileChat">
                    {% else %}
                        <img src="{% static 'images/no-avatar.jpg' %}" class="imgProfileChat">
                    {% endif %}
                    <div class="padding"><a href="{% url 'chatroom-getmsgs' data.user_id %}">Enviar Mensaje</a></div>
                </div>
            </div>
        </div>
        

    {% endfor %}

{% endblock %}