{% extends "index.html" %}

{% block content %}

    <h2>Formulario para buscar Cursadas</h2>

    {% if error %}
        <h4 class="errorData">{{error}}</h4>
    {% endif %}
    
    <form class="estudiantes" action="/busqueda/" method="GET">
        
        <div><label> Introduce Cursada  </label><input type="number" name="busqueda"></div>
        <div class="button1"><button class="btn41-43 btn-41">Buscar</button></div>
    </form>

    {% if consulta %}
        <div class="card">
            <div class="card-body">
                <p class="card-header fw-bold">Resultados de la búsqueda</p>
                <div class="list-group list-group-flush">
                {% for data in consulta %}
                    <p class="list-group-item"><b>Curso:</b> {{data.curso}}</p>
                    <p class="list-group-item"><b>Número de cursada:</b> {{data.numero_cursada }}</p>
                    <p class="list-group-item"><b>Docente asignado:</b> {{data.docente}}</p class="list-group-item">
                    <p class="list-group-item fw-bold">Alumnos asignados: </p>  
                        {% for subdata in data.alumnos.all %}
                                    <li >{{subdata}}</li>
                        {% endfor %}
                {% endfor %}
                </div>
            </div>  
        </div>
    {% endif %}
    {% if empty %}
        <div>No existe el dato consultado</div>
    {% endif %}

        
    
        


{% endblock %}

