{% extends "index.html" %}

{% block content %}
 
    <h2> Formulario para cargar profesores</h2>

    {% if errors %}
    <h3 class="errorData">Error: tipo de datos inválidos o ya registrados (DNI/Correo)</h3>
    {% endif %}

    {% if saved %}
        <h3 class="savedData">{{saved}}</h3>
    {% endif %}

    <form class="estudiantes" action="/profesores/" method="POST">
        {% csrf_token %}
        {{form.as_div}}
        <div class="button1"><button class="btn41-43 btn-41">Guardar</button></div>
    </form>


{% endblock %}